/* GENERAL RULES SECTION */

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



h1{
    font-size: 35px;
}



/* HEADER SECTION */

header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    background-color: crimson;
    
    
}

header img{
    width: 150px;
    height: auto;
    float: left;
    padding-left: 10px;
}

header h1{
    text-align: center;
    
}





@media only screen and (max-width: 600px){
    header img{
        width: 100px;
        padding: 0;
        width: 200px;
        
    }

    header h1{
        font-size: 25px;
        margin-top: 10px;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }

    #logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }

}

/* MAIN SECTION GENERAL RULES */

#parameters{
    margin: 20px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

    
}

/* TABLE SUB-SECTION */
table{
    
    border: 1px solid black;
    text-align: left;
}

table input{
    border:none;
}


table td{
    border: 1px solid black;
    width: 70px;
}

thead th{
    text-align: center;
    border: 1px dotted black;
    background-color: rgb(192, 243, 192);
}

#table1{
    height: 100px;
}
.data{
    width: 85%;
}

.type{
    width: 80px;
}

#table2{
    margin-top: 20px;
}

#table2 .data{
    width: 100px;
}

#table2 .type{
    width: 130px;
}

#row{
    display: none;
}

tbody .resEdit {
    background-color: rgb(252, 239, 224);
}


td, .resData{
    background-color: lightgray;
}

.resData, .resEdit{
    text-align: center;
}




/* RESULT TABLE SECTION */
#results{
    margin-left: 1%;
}

/* MAIN MEDIA QUERY */
@media only screen and (max-width: 600px){
    main{
        
        display: flex;
        flex-direction: column;
        
    }
}




/* BUTTON SECTION */

#buttons{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
    
        
}

button{
    height: 40px;
    width: 120px;
    background-color: crimson;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid gray;
    cursor: pointer;
    margin-top: 7px;
    
    
    
}

#inserir{
    width: 180px;
    margin-left: 1%;
}

button:hover{
    background-color: rgba(220, 20, 60, 0.699);
}

@media only screen and (max-width: 600px){
    #buttons{
        margin-bottom: 30px;
        margin-top: 30px;
        width: 100%;
        justify-content: space-around;
        
    
    }

    button{
        height: 80px;
        width:113px;
        padding: 0;
    }

    #buttons a{
        margin-left: 5%;
        
        
    }

}
    


